<div class="row" data-hall-id="<%= hall.id %>">
  <div class="col-md-4 col-centered"><%= link_to hall.title, hall_path(id: hall.id) %></div>
  <div class="col-md-6 col-centered">
    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_hall_path(id: hall.id),role: 'button', class:'btn btn-outline-success btn-customize'%>
      <%= link_to 'Delete', hall_path(id: hall.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, role: 'button', class:'btn btn-danger text-center btn-customize' %>
    <% end %>
  </div>
</div>
