<div class="halls-index">
  <h1 class="text-center"> Rooms list </h1>
    <div class="container autors">
        <% @halls.each do |hall| %>
        <!-- kazdy row ma zawsze 12 kolumn -->
         <%= render 'hall', hall: hall %>
        <% end %>
    </div>
</div>

<% if current_user %>
  <% if current_user.is_admin? %>
  <div class="text-center"><%= link_to 'Add new room', new_hall_path, role: 'button', class:'btn btn-outline-success btn-customize' %></div>
  <% end %>
<% end %>
