<div class="halls-index text-center">
  <h1 class="text-center"> Rooms list </h1>
     <ol>
       <% @halls.each do |hall| %>
         <li>
          <%= "Rooms's name: " %>
          <%= link_to "#{hall.title}", hall_path(id: hall.id)%>
          <%= "capacity: #{hall.capacity}" %>
         </li>
       <% end %>
     </ol>
</div>

<div class="text-center"><%= link_to 'Add new room', new_hall_path, role: 'button', class:'btn btn-outline-success' %></div>
