<h1 class="show-hall text-center">
 <%= "#{@hall.title}" %>
</h1>

<div class="info-hall col-md-6 col-centered text-center">
  <div class="hall-label">
    <h5> Room type: </h5>
    <h6 class="capacity-value"><%= capacity_label(@hall) %></h6>
  </div>

  <%= link_to 'Back to rooms', halls_path, role: 'button', class:"btn btn-outline-success btn-customize"%>
  <%= link_to 'New reservation', new_reservation_path(hall_id: @hall.id), role: 'button', class:"btn btn-outline-success btn-customize"%>
</div>

<div class="calendar cal-room"></div>
