<h1>Hi <%= @user.fullname %>, welcome to meets.binarlab.com!</h1>
<p> You have successfully signed up to our site,
    to log in use your email: <%= @user.email %>.<br>
</p>

<p> Thanks for joining, we wish you many great reservations! </p>
