<h1>Hi <%= @user.fullname %>, welcome back to meets.binarlab.com!</h1>
<p> We hope you enjoyed your vacation and you are ready to get back to work.
    Remember to create new meeting on <a href="meets.binarlab.com">BinarMeetings</a>.
</p>

<p> We wish you many great reservations! </p>
