<h1>Hi <%= @user.fullname %></h1>
<p> We hope you will enjoy your vacation. Take your time, we are waiting for you
    on <a href="meets.binarlab.com">BinarMeetings</a>.
</p>

<p> Have a good time! </p>
