<div data-user-id="<%= user.id %>" class="row">
	<div class="col-md-6 col-centered">
		<%= link_to user.fullname, user_path(id: user.id) %>
	</div>
	<div class="col-md-5 col-centered">
		<%= link_to 'Edit', edit_administrator_path(id: user.id), class:'btn btn-outline-success btn-customize'%>
		<%= link_to "Destroy", admin_path(user), method: :delete, remote: true, data: { confirm: "You sure?" }, class:'btn btn-outline-success btn-customize' %>
	</div>
</div>
