<div class="container">
	<div class="users">
		<% @users.each do |user| %>
			<%= render 'users', user: user %>
		<%end%>
	</div>
</div>



<br><br>
Not Verified :
<div class="container">
	<% @not_verified_users.each do |user| %>
		<%= render 'not_verified', user: user %>
	<% end %>
</div>
