<div class="container">
	Name :
	<%= current_user.fullname %>
	<br>
	E-mail :
	<%= current_user.email %>
</div>

<%= link_to 'Edit', edit_user_path(id: current_user.id)%>
<%= link_to "Change your password", edit_user_registration_path %>
