<div class="user-data text-center">
	<h3 class="profile-header"> My profile </h3>
	Name :
	<%= current_user.fullname %>
	<br>
	E-mail :
	<%= current_user.email %>
	<div class="profile-buttons">
		<%= link_to 'Edit', edit_user_path(id: current_user.id), class:'btn btn-outline-success btn-customize' %>
		<%= link_to "Change your password", edit_user_registration_path, class:'btn btn-outline-success btn-customize' %>
	</div>
</div>
