<div class="container">
	<% @users = User.all %>
	<% @users.each do |user| %>
		<% if !user.is_verified? %>
			<div data-user-id="<%= user.id %>" class="row">
			  <%= user.fullname %><br>
			  <%= user.email %>
				<%= user.is_verified? %>
			</div>
		<% end %>
	<% end %>
</div>
