<div class="home-logo text-center">
  <%= image_tag("binarApps.png", alt:"BA logo", onclick: "openNav()" )%>
</div>

<div class="home-page-header text-center">
  <h2> Welcome to Binar::Meeting</h2>
  <% if current_user %>
    <h3>Logged</h3>
    Admin:
      <% if current_user.is_admin? %>
        True
      <% else %>
        False
      <% end %>
    <% else %>
  <h3>Not Logged</h3>
</div>
<%= render 'layouts/partials/login_form' %>
  <% end %>
