<div class="reservations-index">
  <h1 class="text-center"> Reservation list </h1>
    <div class="reservations-index text-center col-md-8 col-centered">
        <% @reservations.each do |reservation| %>
         <%= render 'reservation', reservation: reservation %>
        <% end %>
    </div>
</div>

<div class="text-center">
  <%= will_paginate @articles, :previous_label => '<i class="fa fa-arrow-circle-left"></i>', :next_label => '<i class="fa fa-arrow-circle-right"></i>'%>
</div>
<div class="text-center"><%= link_to 'Add new reservation', new_reservation_path, role: 'button', class:"btn btn-outline-success btn-customize" %></div>
