<h1> <%= "Hi #{current_user.fullname}, make your reservation." %></h1>


  <% if reservations_path %>
    <%= render 'form2' %>
    <% end %>
  <!-- <% if halls_path %>
    <%= render 'form' %>
  <% end %> -->
