Hi <%= @user.fullname %>
<p>Your meeting <%=@reservation.title%> was overwritten by <%= @premium_user.fullname%></p>
<br>
<p> To make new reservation <a href="www.meets.binarlab.com/reservations/new">click here</a></p>

<p>Have a good day!</p>
