<h1> Hi <%= @user.fullname %>,</h1>
<p> Just a friendly reminder that the meeting: <%= @reservation.title %> is going to start in 15 minutes in <%= @reservation.hall.title %> room.
    To see more <a href="meets.binarlab.com/reservations/<%=@reservation.id%>">click here</a>
</p><br>

<p>Enjoy your meeting!</p>
