<h1> Hi <%= @user.fullname %>,</h1>
<p> Something has changed with reservation <%= @reservation.title %>, planned on <%= @reservation.start_date %>.
    To see more <a href="www.meets.binarlab.com/reservations/<%=@reservation.reservation_id%>">click here</a>
</p><br>

<p>Enjoy your free time!</p>

"#{@reservation.title} was changed"
