// Place all the styles related to the Halls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
  padding: 2px;
}

.filter-buttons {
  justify-content: center;
}

.btn-filter {
  margin: 5px;
}
