// Place all the styles related to the Halls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-filter {
  margin: 5px;
}

.capacity-value {
  font-weight: bold;
}

.filter-buttons {
  justify-content: center;
  margin-bottom: 2.0rem;
}

.halls-index-li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hall-label {
  margin-bottom: 2.0rem;
}

.res-details {
  margin-bottom: 5px;
}

.room-reservations {
  margin-bottom: 20px;
}

.row {
  padding: 2px;
}

.show-hall {
  font-size: 45px;
}

@media only screen and (max-width: 992px) {
  .halls-index {
    margin-top: 5.0rem;
  }
}
