// Place all the styles related to the Halls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-filter {
  margin: 5px;
}

.capacity-value {
  font-weight: bold;
}

.filter-buttons {
  justify-content: center;
}

.halls-index-li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.res-details {
  margin-bottom: 5px;
}

.room-reservations {
  margin-bottom: 20px;
}

.row {
  padding: 2px;
}
