// color variables
$binar-violet: #3b0c64;
$binar-red: #ef3f4a;

.btn.btn-outline-success.btn-customize {
    border-color: #ef3f4a;
    color: #3b0c64;
    background-color: white;
}

.btn:hover.btn-outline-success:hover.btn-customize:hover {
    background-color: $binar-red;
    color: white;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.calendar {
  width: 50%;
  margin: 0 auto;
  margin-top: 80px;
}


.form-group {
  padding-bottom: 10px;
}


.home-page-header {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 40px;
}

// jak chcemy pasek przez cala strone to wykomentowac width i margin
.home-logo {
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid #3b0c64;
  padding-bottom: 10px;
}

.login-form {
  padding: 10px;
  width: 60%;
  border-radius: 20px;
  background-color: whitesmoke;
}
// remember me checkbox
label {
  margin-top: 20px;
}
