.home-page-header {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.home-logo {
  padding-top: 10px;
  border-bottom: 2px solid #3b0c64;
}

.col-centered {
  float: none;
  margin: 0 auto;
  width: 50%;
}

.form-group {
  padding-bottom: 10px;
}
