$binar-violet: #3b0c64;
$binar-red: #ef3f4a;
/* The side navigation menu */
.navbar {
  width: 100%;
  margin: 0 auto;
  background-color: $binar-violet;
  color: white;
  font-size: 18px;
  margin-bottom: 60px;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.nav-link:active, .nav-link:link, .nav-link:visited {
  color: white;
  width: 100%;
}

.nav-link:hover {
  color: $binar-red;
}

.nav-link.admin-label {
  color: $binar-red;
  font-weight: bold;
}

// sidebar

.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   background-color: $binar-violet;
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 40px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.nav-a {
   // padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 17px;
   color: white;
   display: block;
   transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
   color: grey;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
   color: white;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}

.if-admin {
  color: $binar-red;
  font-weight: bold;
  margin-bottom: 10px;
}

.dropdown-menu {
  height: 170px;
  width: 190px;
  background-color: #f3e9fc;
}

.dropdown-a {
  color: black;
}

.nav-log {
  margin-top: 20px;
  font-weight: bold;
}

.edit-nav:visited,
.edit-nav:active {
  color: black;
}

li {
  list-style-type: none;
}
