// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reservations-confirm {
  width: 40%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 2px 1px 11px 7px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid red;
  margin-top: 80px;
}

.reservations-index {
  margin-top: 30px;
  margin-bottom: 20px;
}

.form-control[readonly].flatpickr-input {
  background-color: white;
}

a.reservation-a:active,
a.reservation-a:link,
a.reservation-a:visited {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.borderless td, .borderless th {
  border: none;
}

.table.borderless td {
  border: none;
}

a.reservation-a:hover {
  font-weight: bold;
}

.save-reservation-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

tr.row-for-tables:hover {
  background-color: #3803642b;
}

.invited-picker li{
  width: auto;
}

@media only screen and (max-width: 992px) {
  .reservations-index {
    margin-top: 5.0rem;
  }
}

.pagination.pagination {
  font-size: 28px;
  width: 50%;
  margin: 0 auto;
  text-align: right;
  display: block;
}

.pagination a {
  color: #bd2130;
}

.current, .previous_page {

}
