// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reservations-confirm {
  width: 40%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 2px 1px 11px 7px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid red;
  margin-top: 80px;
}

.save-reservation-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
