.card {
  margin: 0 auto;
  float: none;
  margin-top: 30px;
}

.rooms-header {
  margin-top: 30px;
  font-weight: bold;
}

.row {
  padding-left: 50px;
  padding-right: 50px;
}

.new-room {
    justify-content: center;
}
