// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$binar-red: #ef3f4a;
$binar-violet: #3b0c64;

.user-buttons {
  padding-top: 10px;
}

.not-verified {
  color: $binar-red;
}

.profile-header {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid $binar-red;
}

.profile-buttons {
  margin-top: 30px;
}

.verify-all-btn {
  justify-content: center;
  margin-top: 30px;
}

.sign-up-header {
  margin-top: 30px;
  font-weight: bold;
  color: $binar-red;
}

.sign-up-form {
  width: 30%;
  margin: 0 auto;
  border: 2px solid $binar-red;
  padding: 10px;
  box-shadow: 2px 1px 11px 7px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  border-radius: 40px;
}

.form-group.sign-up-fg{
  margin-bottom: 0px;
}

.signup-label {
  margin: 0px;
}

.login-label {
  margin: 0px;
}

.sign-in-btn {
  margin: 10px;
}

.checbox-edit-user {
  justify-content: center;
}

.is-premium {
  margin-right: 10px;
}

.message {
  margin: 0px;
  font-weight: bold;
}

.remember-box {
  line-height: 0px;
  text-align: left;
  margin-bottom: 15px;
  font-size: 14px;
}

.pswd-conf {
  margin-bottom: 5px;
}

.no-account {
  font-size: 15px;
  margin: 0px;
}
