<section id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 links">
				<ul class="list-unstyled list-inline social text-center">
					<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
					<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
					<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
					<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
				</ul>
			</div>
			</hr>
		</div>
		<div class="row">
			<div class="col-md-12 text-center text-white">
				<p><u><a href="https://www.binarapps.com">Created for BinarApps</a></u></p>
				<p class="h6">&copy by Trefle.</p>
			</div>
			</hr>
		</div>
	</div>
</section>
