<nav class="navbar navbar-expand-lg navbar-custom">
  <%= link_to root_path do %>
  <img class="navbar-logo" src="https://image.flaticon.com/icons/svg/992/992604.svg" width="50" height="50" alt="App logo">
  <% end %>
  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <% if !current_user %>
      <li class="nav-item">
        <a class="nav-link" href="/my/users/sign_up">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/my/users/sign_in">Sign in</a>
      </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/halls#index">Rooms</a>
      </li>
      <% if current_user %>
      <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
      </li>
        <% if current_user.is_admin? %>
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/verify">Verify</a>
        </li>
        <% end %>
      <% end %>
      <% if current_user %>
      <li class="nav-item">
          <% if current_user.is_admin? %>
           <a class="nav-link">Logged as admin</a>
           <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
