<div id="mySidenav" class="sidenav">
 <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

 <div class="nav-item text-center if-admin">
    <% if current_user.admin %>
      <a class="nav-link">Logged as admin</a>
    <% end %>
 </div>

 <li class="nav-item dropdown text-center">
    <a class="nav-link dropdown-toggle nav-a" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User panel</a>
    <div class="dropdown-menu text-center">
      <a class="dropdown-item dropdown-a" href="/reservations#index">My reservations</a>
      <a class="dropdown-item dropdown-a" href="/halls#index">All rooms</a>
      <%= link_to 'Edit profile', edit_user_path(id: current_user.id), class: "nav-link edit-nav"%>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item dropdown-a" href="#">Add new reservation</a>
    </div>
  </li>
 <li class="nav-item text-center nav-a">
    <a class="nav-link nav-a" href="/reservations#index">Reservations</a>
 </li>
 <li class="nav-item text-center nav-a">
    <a class="nav-link nav-a" href="/halls#index">All rooms</a>
 </li>

 <% if current_user.admin %>
 <li class="nav-item">
   <a class="nav-link text-center nav-a" href="/users">Users</a>
 </li>

 <li class="nav-item nav-a">
   <a class="nav-link text-center nav-a" href="/verify">Verify</a>
 </li>
 <% end %>

 <li class="nav-item nav-a">
     <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link text-center nav-log nav-a") %>
 </li>

</div>
